
.table__content {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 1em 1em 0 0;
    overflow: hidden; 
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    width: 90%;
    font-weight: 600;
    position: relative;
  
    &--column th {
    border-bottom: 3px solid red;
    padding: 0.8rem;
    }

    &--measure {
        padding: 10px;
        text-align: left;
        border: solid 1px lightgrey;
        // font-weight: 600;
    }

    &--marks {
    background-color: rgb(52, 183, 117);
    text-align: center;
    color: #f7f1e9;
    border: solid 1px lightgrey;
    // font-weight: 600;
    }

    &--average {
    text-align: center;
    border: solid 1px lightgrey;
    background-color: #54ACE5;
    }
}

.btn__showresources {
    border: 0px;
    background-color: rgb(52, 183, 117);
    font-weight: 600;
}

// .table__content--average--generalaverage {
//         // display: flex;
//         justify-content: flex-end;
//         text-align: right;
//         border: solid 1px lightgrey;
//         background-color: #54ACE5;
//         }


.marks__navlink.active{
    font-weight: bold;
    margin: 10px;
}

.marks__navlink__container{
    display: block;
    margin-bottom: 20px;
}