.announceList,
.categoryList {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.announce {
    width: 30%;

    &--img{
       height: 50%;
    }
}

