.main-content {
    display: flex;
    height: 100vh;   
    flex-wrap: wrap;

    .content-page {  
         width:100%
    }

    @media screen and (min-width: 992px) { 
        .main-content {
            display: flex;
            height: 100vh;   
        }
    
        .content-page {
            width:80%
        }
    }
}