.pages {
    display: flex; 
    flex-wrap: wrap;
 

    @media screen and (min-width: 992px) { 
        flex-wrap: nowrap;
    }

    &__content {  
         width:100%;
         margin: 2rem;

         @media screen and (min-width: 992px) { 
            width:80%;
            display: flex;
            flex-direction: column;
            align-items: center;
         }
    }

}