.pages {
    display: flex;
    height: 100vh;   
    flex-wrap: wrap;

    &__content {  
         width:100%
    }

    @media screen and (min-width: 992px) { 
        .pages {
            display: flex;
            height: 100vh;   
        }
    
        &__content{
            width:80%
        }
    }
}