.header{
    background-color: #20232A;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    .logo {
        height: 4rem;
        
    }

    .menu {
        display: flex;
        align-items: center;

        &__item {
            padding: 0 2rem;
        }
    }

    .active {
            border-bottom: 4px solid #7C9D2B;
            color: white;
    }

}