.sidebar {
    background-color: #F08080;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;


    &__menu-link{
        margin-left: 2rem;
        font-size: 2rem;
        background: none;
    }

    &-menu{
        background-color:#F08080;
        width: 250px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;
    }

    &-menu.active{
        left: 0;
        transition: 350ms;
    }

    &-text{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 8px 0px 8px 16px;
        list-style: none;
        height: 60px;
    }

    &-text a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
    }

    &-text a:hover {
        background-color: indigo;
    }

    &-menu-items{
        width: 100%;
    }

    &-toggle {
        background-color: lightblue;
        width: 100px;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

span {
    margin-left: 16px;
}