.intro {

    margin: 2rem 0;

    &__title {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__image {
        background-image: url('../../assets/img/school.jpg');
        height: 26rem;
        background-size: cover;
        background-position: center;
    }
}