.footer {
    margin-top: auto;
    text-align: center;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0.2em 0.2em 1em 0.2em rgb(34, 34, 34, 20%);
    height: 2.5em;
   

    &__link {
        text-decoration: none;
        color: #717171;
        padding: 5px 10px 10px 5px;
        margin: 0 10px 0 10px;
        &:hover {
            color: #000;
        }

    }
    .active {
        font-weight: 500;
    }
}